body {
  background: url(http://farm4.staticflickr.com/3188/2798089783_f44d572ea3.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
}

.navbar {
	background-color: black;
	border: none;
	height: 75px;

}

.navbar-btn {
	color: #b40f0f;
	font-size: 18px;
	margin-top: 6%;
	background-color: black;
}

.profilePic {
	box-shadow: 3px 3px 3px gray;
}
.warren {
	 color: #b40f0f;
}

.headWell {
	background-color: black;
	opacity: .8;
}

.beerHeader {
	opacity: 1;
	color: #b40f0f;
}
.rateBtn {
	background-color: #b40f0f;
	color: black;
	opacity: 1;
}
.well {
	background-color: black;
	opacity: .6;
}
h6 {
	color: #b40f0f;
	font-size: 16px;
}
.newBeer {
	margin-left: 5%;
}
h2, h4 {
	color: #b40f0f;
}

h5 {
	color: #b40f0f;
	font-size: 20px;
}

.fb-like {
	margin-left: 8%;
}